button {
  height: 145px;
  width: 145px;
  margin: 3px;
  border-color: darkgrey;
  border-width: 2px;
  border-radius: 10px;
}

.num {
  background-color: orange;
  border-color: darkorange;
}

.ops {
  background-color: darkgrey
  border-color: darkgrey;
}

.extra {
  background-color: lightgrey;
  border-color: darkgrey;
}

.clear {
  background-color: red;
  border-color: darkred;
}

#equal {
  background-color: green;
    border-color: darkgreen;
}

#display {
  border: solid black;
  text-align: right;
  font-size: 50px;
  font-family: monospace;
  width: 95%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#calculator {
  width: 650px;
  height: 900px;
  padding: 20px;
  border: solid black;
  background-color: black;
}

#button-land {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;

}

#dec {
  background-color: lightgrey;
  border-color: darkgrey;
}
